body
{
	margin: auto;
	background-image: url("pictures/backgroundNew.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.Title h1
{
	font-weight: bold;
	font-family: Oxygen;
	color: black;
	text-align: center;
	margin-left: 2.5%;
}

.container
{
	display: grid;
	grid-template-columns: 180px 80px 180px;
	text-align: center;
	margin: auto;
	margin-left: 35.5%
}
          
.diamond
{
	height: 20px;
  	width: 20px;
  	background-color: transparent;
  	border-style: solid;
  	border-color: black;
  	-webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: auto;
    text-align: center;
}
 
.line
{
	border-bottom: 2px solid black;
	width: auto;
	float: center;
	text-align: center;
} 

.column 
{
    float: left;
    padding: 10px;
}
.left, .right 
{
  width: 50%;
}

.row:after 
{
    content: "";
    display: table;
    clear: both;
}

.boxtext
{
	text-align: center;
	font-family: Oxygen;
	word-spacing: 2.5px;
	font-size: 18px;
	max-width: 100%;
	margin-left: 25px;
	float: left;
}

.photo
{
	background-image: url("pictures/profilePic3.jpg");
	background-position: center;
	position: relative;
	height: 450px;
	width: 350px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 25px;
	margin-top: 45px;
}




