body
{
	margin: auto;
	background-image: url("pictures/backgroundNew.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.container
{
	display: grid;
	grid-template-columns: 180px 80px 180px;
	text-align: center;
	margin: auto;
	margin-left: 33.5%
}
          
.diamond
{
	height: 20px;
  	width: 20px;
  	background-color: transparent;
  	border-style: solid;
  	border-color: black;
  	-webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: auto;
    text-align: center;
}
 
.line
{
	border-bottom: 2px solid black;
	width: auto;
	float: center;
	text-align: center;
} 

h1
{
	font-weight: bold;
  	font-family: Oxygen;
  	color: black;
  	text-align: center;
}

p
{
	text-align: center;
	margin: auto;
	font-size: 28px;
	font-family: Oxygen;
}

a
{
	text-decoration: none;
}