body
{
  margin: 0;
  background-image: url("pictures/backgroundNew.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container
{
  display: grid;
  grid-template-columns: 180px 80px 180px;
  text-align: center;
  margin: auto;
  margin-left: 33.5%
}
          
.diamond
{
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-style: solid;
  border-color: black;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: auto;
  text-align: center;
}
 
.line
{
  border-bottom: 2px solid black;
  width: auto;
  float: center;
  text-align: center;
} 

h1
{
  font-weight: bold;
  font-family: Oxygen;
  color: black;
  text-align: center;
}
p
{
  text-align: center;
  font-family: Oxygen;
  font-size: 18px;
  color: black;
}

.textbox
{
  height: 100px;
  width: 425px;
  margin: auto;
}
 
.slideshow-container 
{
  max-height: 750px;
  max-width: 560px;
  position: relative;
  margin: auto;
}

.prev, .next 
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next 
{
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover 
{
  background-color: rgba(0,0,0,0.8);
}

.text 
{
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom:20px;
  width: 100%;
  text-align: center;
}
.mySlides 
{
  display:none;
}
.active-slide 
{
  display:block;
}
 
.numbertext 
{
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot 
{
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover 
{
  background-color: #717171;
}

.fade 
{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade 
{
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade 
{
  from {opacity: .4}
  to {opacity: 1}
}

.row 
{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column 
{
    -ms-flex: 25%; /* IE10 */
    flex: 15%;
    max-width: 25%;
    padding: 0 4px;
}

.column img 
{
    margin-top: 8px;
    vertical-align: middle;
}


li
{
  float: left;
  margin: auto;
  padding: 5px;
}

