  <div class="row"> 
    <div class="column">
        <%= image_tag("dublin1.jpg", width:"100%") %>
        <%= image_tag("dublin2.jpg", width:"100%") %>
        <%= image_tag("dublin3.jpg", width:"100%") %>
        <%= image_tag("dublin4.jpg", width:"100%") %>
        <%= image_tag("dublin5.jpg", width:"100%") %>
        <%= image_tag("moher1.jpg", width:"100%") %>
        <%= image_tag("moher2.jpg", width:"100%") %>
        <%= image_tag("CoverPhoto.jpg", width:"100%") %>
        <%= image_tag("moher3.jpg", width:"100%") %>
        <%= image_tag("dublin7.jpg", width:"100%") %>
        <%= image_tag("dublin6.jpg", width:"100%") %>
        <%= image_tag("dingle1.jpg", width:"100%") %>
        <%= image_tag("dingle2.jpg", width:"100%") %>
        <%= image_tag("dingle3.jpg", width:"100%") %>
        <%= image_tag("dingle11.jpg", width:"100%") %>
        <%= image_tag("dingle10.jpg", width:"100%") %>
        <%= image_tag("dingle7.jpg", width:"100%") %>
        <%= image_tag("dingle8.jpg", width:"100%") %>
        <%= image_tag("dingle9.jpg", width:"100%") %>
        <%= image_tag("dingle4.jpg", width:"100%") %>
        <%= image_tag("dingle5.jpg", width:"100%") %>
        <%= image_tag("dingle6.jpg", width:"100%") %>
        <%= image_tag("coast2.jpg", width:"100%") %>
        <%= image_tag("coast3.jpg", width:"100%") %>
        <%= image_tag("barclona18.jpg", width:"100%") %>
        <%= image_tag("barclona19.jpg", width:"100%") %>
        <%= image_tag("madrid4.jpg", width:"100%") %>
        <%= image_tag("madrid12.jpg", width:"100%") %>
        <%= image_tag("madrid11.jpg", width:"100%") %>
    </div>
    
    <div class="column">
        
    </div>  
    <div class="column">
        <%= image_tag("barclona1.jpg", width:"100%") %>
        <%= image_tag("barclona2.jpg", width:"100%") %>
        <%= image_tag("barclona3.jpg", width:"100%") %>
        <%= image_tag("barclona4.jpg", width:"100%") %>
        <%= image_tag("barclona5.jpg", width:"100%") %>
        <%= image_tag("barclona14.jpg", width:"100%") %>
        <%= image_tag("barclona12.jpg", width:"100%") %>
        <%= image_tag("barclona11.jpg", width:"100%") %>
        <%= image_tag("barclona15.jpg", width:"100%") %>
        <%= image_tag("barclona6.jpg", width:"100%") %>
        <%= image_tag("barclona7.jpg", width:"100%") %>
        <%= image_tag("barclona8.jpg", width:"100%") %>
        <%= image_tag("barclona9.jpg", width:"100%") %>
        <%= image_tag("barclona10.jpg", width:"100%") %>
        <%= image_tag("barclona13.jpg", width:"100%") %>
        <%= image_tag("barclona16.jpg", width:"100%") %>
        <%= image_tag("barclona17.jpg", width:"100%") %>
        <%= image_tag("madrid6.jpg", width:"100%") %>
        <%= image_tag("madrid7.jpg", width:"100%") %>
        <%= image_tag("madrid8.jpg", width:"100%") %>
        <%= image_tag("madrid9.jpg", width:"100%") %>
        <%= image_tag("madrid1.jpg", width:"100%") %>
        <%= image_tag("madrid2.jpg", width:"100%") %>
        <%= image_tag("madrid3.jpg", width:"100%") %>
        <%= image_tag("barclona18.jpg", width:"100%") %>
        <%= image_tag("barclona19.jpg", width:"100%") %>
        <%= image_tag("madrid4.jpg", width:"100%") %>
        <%= image_tag("madrid12.jpg", width:"100%") %>
        <%= image_tag("madrid11.jpg", width:"100%") %>
    </div>
    <div class="column">
      <%= image_tag("syd3.jpg", width:"100%") %>
        <%= image_tag("syd4.jpg", width:"100%") %>
        <%= image_tag("syd5.jpg", width:"100%") %>
        <%= image_tag("coast5.jpg", width:"100%") %>
        <%= image_tag("coast6.jpg", width:"100%") %>
        <%= image_tag("coast7.jpg", width:"100%") %>
        <%= image_tag("mel1.jpg", width:"100%") %>
        <%= image_tag("mel2.jpg", width:"100%") %>
        <%= image_tag("mel3.jpg", width:"100%") %>
        <%= image_tag("coast1.jpg", width:"100%") %>
        <%= image_tag("syd1.jpg", width:"100%") %>
        <%= image_tag("syd2.jpg", width:"100%") %>
        <%= image_tag("mel4.jpg", width:"100%") %>
        <%= image_tag("mel5.jpg", width:"100%") %>
        <%= image_tag("syd4.jpg", width:"100%") %>
        <%= image_tag("syd5.jpg", width:"100%") %>
        <%= image_tag("syd6.jpg", width:"100%") %>
        <%= image_tag("syd7.jpg", width:"100%") %>
        <%= image_tag("syd8.jpg", width:"100%") %>
        <%= image_tag("syd9.jpg", width:"100%") %>
        <%= image_tag("syd10.jpg", width:"100%") %>
        <%= image_tag("mel1.jpg", width:"100%") %>
        <%= image_tag("mel2.jpg", width:"100%") %>
        <%= image_tag("mel3.jpg", width:"100%") %>
        <%= image_tag("mel6.jpg", width:"100%") %>
        <%= image_tag("madrid9.jpg", width:"100%") %>
        <%= image_tag("madrid10.jpg", width:"100%") %>
    </div>
  </div>

<script src="gallery.js"></script>
</body>
</html>